.container-home{
    width: 68%;
      margin: 0 auto;
  }
  section.cpb-content-home {
      height: 100vh;
      width: 100%;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
  }
  